/*
.tab {
    /*border-top: 2px solid #555555;
	height: 42px;
	position: relative;
    top: 0;
    z-index: 999;
	
	flex:1;
}
#panel{
flex:2;
}
/*
.tab ul.login {
	display: block;
	position: relative;
  	float: right;
  	clear: right;
  	height: 42px;
	width: auto;
  	font-weight: bold;
	line-height: 42px;
	margin: -2px 0 0;
	right: 150px;
  	color: white;
  	font-size: 80%;
	text-align: center;
}


.tab ul.login li  {
 	text-align: left;
  	padding: 0 6px;
	display: block;
	float: left;
	height: 42px;
}
.tab ul.login li.welcome{
    background: #999999;
    border-bottom: 2px solid #555555;
    border-bottom-left-radius: 15px;
    border-left: 2px solid #555555;
    display: block;
    float: left;
    height: 42px;
    padding: 0 6px;
    text-align: left;
}
.tab ul.login li a {
	color: #fff;
}

.tab ul.login li a:hover {
	color: #fff;
}

.tab .sep {background: #999999;color:#414141;border-bottom: 2px solid #555555;}

.tab ul.login li#toggle {
    background: #999999;
    border-bottom: 2px solid #555555;
    border-bottom-right-radius: 15px;
    border-right: 2px solid #555555;
    display: block;
    float: left;
    height: 42px;
    padding: 0 6px;
    text-align: left;
}

.tab a.open, .tab a.close {
	height: 20px;
	line-height: 20px !important;
	padding-left: 30px !important;
	cursor: pointer;
	display: block;
	width: 100px;
	position: relative;
	top: 11px;
}

.tab a.open {background: url(../images/bt_open.png) no-repeat left 0;}
.tab a.close {background: url(../images/bt_close.png) no-repeat left 0;}
.tab a:hover.open {background: url(../images/bt_open.png) no-repeat left -20px;}
.tab a:hover.close {background: url(../images/bt_close.png) no-repeat left -20px;}

/* sliding panel */
.wrap_3 {
   /* position: absolute;   /*Panel will overlap  content */
    /*position: relative;*/   /*Panel will "push" the content down */
    /*top: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;*/
}
/*
#panel {
	width: 100%;
	box-shadow: 0 2px 4px #000000;
	height: 270px;
	color: #fff;
	background: #999;
	overflow: hidden;
	position: relative;
	z-index: 3;
	display: none;
}
/*
#panel h1 {
	font-size: 1.6em;
	padding: 5px 0 10px;
	margin: 0;
	color: white;
}

#panel a {
	text-decoration: none;
	color: #fff;
}

#panel a:hover {
	color: #fff;
}

#panel a-lost-pwd {
	display: block;
	float: left;
}

#panel .content {
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 0.85em;
}

#panel .content .left {
	width: 280px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #333;
}

#panel .content .right {
	border-right: 1px solid #333;
}

#panel .content form {
	margin: 0 0 10px 0;
}

#panel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}

#panel .content input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#panel .content input:focus.field {
	background: #545454;
	box-shadow: 0 2px 6px #555555;
}

/* BUTTONS */
/*
#panel .lost-pwd {
	display: block;
	float:left;
	clear: right;
	padding: 15px 5px 0;
	font-size: 0.95em;
	text-decoration: underline;
} */